* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.error
{
  color: blue;
}

.base {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
}
.form-base {
  width: 35%;
  /* margin: auto; */
  height: 70%;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: start;
  background-color: white;
  padding: 1rem;
  /* border-radius: 10px; */
}
.form-base h1 {
  padding: 1rem;
}

form {
  width: 90%;
  height: 80%;
  border-radius: 5px;
  background-color: rgb(250, 225, 0);
  color: white;
  padding: 2rem;
  position: relative;
}
input {
  padding: 15px;
  background-color: white;
  border-radius: 5px;
  width: 100%;
  border: none;
  margin: 0.5rem 0rem;
}
label {
  padding: 0.5rem;
  color: black;
}
input[type="checkbox"] {
  position: absolute;
  left: 0%;
}
input:focus {
  outline: none;
}

a {
  color: blue;
}
span
{
  padding: 0 10px;
}

button {
  padding: 0.5rem;
  width: 40%;
  border-radius: 10px;
  font-size: 18px;
  border: none;
  color: white;
  transition: all 0.2s ease-in-out;
  background-color: green;
  margin-bottom: 10%;
  position: absolute;
  left: 30%;
  top: 70%;
}
button:hover {
  color: blue;
  cursor: pointer;
  background-color: white;
}
p {
  position: absolute;
  bottom: 10%;
  width: 100%;
  color: black;
}
